# razorCMS default access file - smiffy6969 - www.razorcms.co.uk - ulsmith.net

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

Options -Indexes

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>

<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

<Files ~ "\.sqlite$">
Order allow,deny
Deny from all
</Files>

<Files index>
ForceType application/x-httpd-php
</Files>

AddType video/ogv .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
AddType audio/ogg .ogg
AddType audio/mp3 .mp3
AddType audio/m4a .m4a
AddType image/svg+xml svg

DirectoryIndex index.html index.htm index.php index default.html default.htm default.php default

RewriteEngine On
RewriteCond $0####%{REQUEST_URI} ^(.*)####(.*)\1$
RewriteRule ^.*$ - [E=BASE_PATH:%2]
RewriteRule ^sitemap_index.xml %{ENV:BASE_PATH}rars/seo/sitemap [L,QSA]
RewriteRule ^sitemap([0-9]*).xml %{ENV:BASE_PATH}rars/seo/sitemap/$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ %{ENV:BASE_PATH}index.php?path=$1 [L,QSA]