<form name="form" class="form-horizontal" role="form" novalidate>
	<div class="modal-header">
		<h3>New User Registration <i class="fa fa-times pull-right" ng-click="cancel()"></i></h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="input-name" name="name" ng-model="newUser.name" required>
			</div>
			<div class="col-sm-2 error-block" ng-show="form.name.$dirty && form.name.$invalid">
				<span class="alert alert-danger alert-form" ng-show="form.name.$error.required">Required</span>
			</div>
		</div>
		<div class="form-group">
			<label for="input-email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-8">
				<input type="email" class="form-control" id="input-email" name="email" ng-model="newUser.email_address" required>
			</div>
			<div class="col-sm-2 error-block" ng-show="form.email.$dirty && form.email.$invalid">
				<span class="alert alert-danger alert-form" ng-show="form.email.$error.required">Required</span>
				<span class="alert alert-danger alert-form" ng-show="form.email.$invalid">Invalid</span>
			</div>
		</div>
		<div class="form-group">
			<label for="new-password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-3">
				<input id="new-password" name="newPassword" class="form-control" type="password" ng-model="newUser.new_password" required>
			</div>
			<label for="repeat-password" class="col-sm-2 control-label">Repeat</label>
			<div class="col-sm-3">
				<input id="repeat-password" name="repeatPassword" class="form-control" type="password" ng-model="newUser.repeat_password" confirm="{{newUser.new_password}}">
			</div>
			<div class="col-sm-2 error-block" ng-show="(form.newPassword.$dirty && form.newPassword.$invalid) || (form.repeatPassword.$dirty && form.repeatPassword.$invalid)">
				<span class="alert alert-danger alert-form" ng-show="form.newPassword.$error.pattern">Invalid</span>
				<span class="alert alert-danger alert-form" ng-show="form.repeatPassword.$error.confirm">Invalid</span>
			</div>
		</div>
		<div class="form-group">
			<label for="contact-form-human" class="col-sm-2 control-label">Are You Human?</label>
			<div class="col-sm-8">
				<input id="contact-form-human" name="human" class="form-control" type="text" ng-model="newUser.human" ng-init="newUser.human = 'DELETE THIS TEXT IF HUMAN'">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="saveUser(newUser)" ng-disabled="form.$invalid || processing || (!!newUser.new_password && !newUser.repeat_password)">
			<i class="fa fa-check"></i> Create Account
		</button>
	</div>
</form>